<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <!-- This page shows a specific user -->
  <!-- Only accessible from the admin or head user -->
  <body>
    <%= @user.username %>
    <%= @user.password%>
  </body>
  <%= link_to 'Back', users_path %>
</html>
