<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <!-- This is the home page of USA Law Case Archives -->
  <!-- Login page and user registration page must be setup in this page -->
  <body>
    This is the home test
    <%= link_to 'All Users', controller: 'users' %>
  </body>
</html>
